[Service]

Type=exec

ExecStart=/usr/bin/docker run \
    --name thelounge \
    --rm \
    --tty \
    --publish 9000:9000 \
    --volume /var/opt/thelounge:/var/opt/thelounge \
    thelounge/thelounge:4.3.1


[Install]

WantedBy=multi-user.target
