[Unit]
Description=The Lounge
Requires=docker.service
After=docker.service


[Service]
Type=exec

# We deliberately do *not* specify User=thelounge.
# That user is for executing the application inside the container.
# For security, we don't want it to have permission to use Docker
# in case it breaks out of the container.

ExecStart=docker run \
    --name thelounge \
    --rm \
    --tty \
    --user {{ thelounge_user_result.uid }}:{{ thelounge_user_result.group }}\
    --net=host \
    --volume /var/opt/thelounge:/var/opt/thelounge \
    thelounge/thelounge:4.3.1


[Install]
WantedBy=multi-user.target
